@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BN Chester";
  font-display: swap;
  src: url("../fonts/BN Chester Regular.woff2") format("woff2"), url("../fonts/BN Chester Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1.7;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #161616;
  background: #ffffff;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.title {
  font-family: "BN Chester";
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.005em;
}

.title span {
  color: #D3A265;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #D3A265;
  border-radius: 8px;
  padding: 12px 34px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #161616;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  font-weight: 500;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__logo {
  padding-right: 68px;
  position: relative;
  z-index: 5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  row-gap: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__link {
  color: #352C2C;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__tel {
  color: #161616;
  white-space: nowrap;
}

.header__langue {
  font-weight: 500;
  position: relative;
  padding: 0px 22px 0px 0px;
}

.header__langue::after {
  content: "";
  position: absolute;
  background: url(../img/icons/arrow.svg) 0 0 no-repeat;
  top: 8px;
  left: 29px;
  width: 12px;
  height: 5px;
}

.icon-menu {
  display: none;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  padding: 95px 0px;
  background-color: #f4f4f4;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 300px) minmax(auto, 100px) minmax(auto, 270px);
  grid-template-columns: minmax(auto, 300px) minmax(auto, 100px) minmax(auto, 270px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-footer__logo {
  display: block;
}

.column-footer__logo:not(:last-child) {
  padding: 0px 0px 60px 0px;
}

.column-footer__text:not(:last-child) {
  padding: 0px 0px 96px 0px;
}

.column-footer__mark {
  line-height: 1.5;
  display: none;
}

.footer-list__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list__nav_title {
  font-weight: 600;
  text-transform: uppercase;
}

.footer-list__nav_title:not(:last-child) {
  padding: 0px 0px 25px 0px;
}

.footer-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer-list__item:not(:last-child) {
  padding: 0px 0px 47px 0px;
}

.footer-list__link {
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer-list__social {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.footer-list__contacts_manetitle {
  font-weight: 600;
  text-transform: uppercase;
}

.footer-list__contacts_manetitle:not(:last-child) {
  padding: 0px 0px 25px 0px;
}

.footer-list__contacts_items:not(:last-child) {
  padding: 0px 0px 47px 0px;
}

.footer-list__contacts_title {
  font-weight: 500;
  line-height: 1.5;
  color: #878787;
}

.footer-list__contacts_title:not(:last-child) {
  padding: 0px 0px 14px 0px;
}

.footer-list__contacts_link {
  white-space: nowrap;
  color: inherit;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.start {
  padding: 203px 0px;
  position: relative;
}

._no-webp .start::after{
  background: url(../img/start/img-start.jpg) 0 0 no-repeat; }

.start::after {
  z-index: 1;
  content: "";
  position: absolute;
  width: 705px;
  min-height: 100%;
  top: 0;
  right: -4px;
}

.start__body {
  position: relative;
  z-index: 10;
}

.start__title {
  font-weight: 400;
  font-size: 66px;
  line-height: 64px;
  letter-spacing: 0.01em;
  color: #3d3737;
}

.start__title:not(:last-child) {
  padding-bottom: 32px;
}

.start__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68;
  /* 27/16 */
}

.start__text:not(:last-child) {
  padding-bottom: 54px;
}

.about {
  padding: 70px 0px;
  background: #f4f4f4;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49.27%;
          flex: 0 1 49.27%;
  line-height: 1.68;
}

.about__text p {
  padding-bottom: 25px;
}

.services {
  padding: 80px 0px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 85px;
}

.services__title {
  text-align: center;
}

.services__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%);
  grid-template-columns: minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%);
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.services__button {
  margin: 0 auto;
  max-width: 227px;
}

.item-services__image:not(:last-child) {
  padding: 0px 0px 42px 0px;
}

.item-services__image img {
  min-height: 90px;
}

.item-services__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  /* 22/18 */
  text-align: center;
  text-transform: uppercase;
}

.item-services__title:not(:last-child) {
  padding: 0px 0px 20px 0px;
}

.item-services__text {
  color: #8d8d8d;
}

.portfolio {
  padding: 80px 0px;
  background-color: #f4f4f4;
}

.portfolio__title {
  text-align: center;
}

.portfolio__title:not(:last-child) {
  padding: 0px 0px 85px 0px;
}

.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.portfolio__nav:not(:last-child) {
  padding: 0px 0px 30px 0px;
}

.portfolio__nav-btn {
  line-height: 1.18;
  /* 19/16 */
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.portfolio__nav-btn._active {
  color: #d3a265;
  font-weight: 600;
}

.portfolio__tabs-item {
  display: none;
}

.portfolio__tabs-item._active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%);
  grid-template-columns: minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}

.portfolio__tabs-item_image {
  margin: 0 auto;
  max-width: 100%;
}

.portfolio__button {
  display: none;
}

.pricing {
  padding: 100px 0px;
}

.pricing__title {
  text-align: center;
}

.pricing__title:not(:last-child) {
  padding: 0px 0px 85px 0px;
}

.pricing__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 33.333%) minmax(auto, 33.333%) minmax(auto, 33.333%);
  grid-template-columns: minmax(auto, 33.333%) minmax(auto, 33.333%) minmax(auto, 33.333%);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.pricing__item {
  text-align: center;
}

.item-pricing {
  background-color: #fdfbf8;
  border: 2px solid #d3a265;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-pricing__content {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-pricing__title {
  font-family: "Bn chester";
  font-size: 24px;
  line-height: 1;
}

.item-pricing__title:not(:last-child) {
  padding: 0px 0px 30px 0px;
}

.item-pricing__price {
  font-family: "Bn chester";
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #dcd1bb;
}

.item-pricing__price_title {
  font-size: 44px;
  line-height: 1;
}

.item-pricing__price_subtitle {
  font-size: 18px;
  line-height: 1;
}

.item-pricing__text {
  max-width: 150px;
  font-weight: 500;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
}

.item-pricing__button {
  margin-top: 55px;
  margin-bottom: 30px;
  max-width: 145px;
  margin-left: auto;
  margin-right: auto;
}

.item-pricing__orange {
  background-color: #d3a265;
  color: #ffffff;
  border-radius: 10px;
}

.item-pricing__price_subtitle {
  color: inherit;
}

.item-pricing__button_white {
  background-color: #d3a265;
  border-top: 1px solid #fdfbf8;
}

.reviews {
  background-color: #f4f4f4;
  padding: 60px 0px;
}

.reviews__title {
  text-align: center;
}

.reviews__title:not(:last-child) {
  margin: 0px 0px 85px 0px;
}

.swiper-wrapper:not(:last-child) {
  padding: 0px 0px 42px 0px;
}

.reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.slide-item {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 36px 43px 36px 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-item::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #dcd1bb;
  top: 140px;
  left: 0;
}

.slide-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.slide-item__header:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.slide-item__avatar {
  position: relative;
  z-index: 5;
  max-width: 172px;
  max-height: 172px;
  overflow: hidden;
}

.slide-item__avatar img {
  border-radius: 50%;
  max-width: 100%;
}

.slide-item__info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* 24/20 */
}

.slide-item__name:not(:last-child) {
  margin: 0px 0px 8px 0px;
}

.slide-item__job {
  color: #b5b5b5;
}

.slide-item__job:not(:last-child) {
  margin: 0px 0px 42px 0px;
}

.slide-item__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.slide-item__text {
  line-height: 1.7;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  position: relative;
  z-index: 5;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #d3a265;
}

.question {
  padding: 75px 0px;
}

.question__container {
  max-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.question__title {
  text-align: center;
}

.question__button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 479.98px) {
  .header__list:not(:last-child) {
    padding: 0px 15px 0px 0px;
  }

  .header__article {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }

  .services__item {
    max-width: 270px;
  }
}

@media (min-width: 767.98px) {
  .start__title {
    max-width: 480px;
  }

  .start__text {
    max-width: 381px;
  }

  .item-pricing__price_title:not(:last-child) {
    padding: 0px 0px 7px 0px;
  }

  .item-pricing__button_white {
    background: #ffffff;
    border-top: 1px solid #fdfbf8;
  }
}

@media (min-width: 767.98px) and (any-hover: hover) {
  .item-pricing__button_white:hover {
    border: 2px solid #000000;
    background: #ffffff;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1182px) {
  .start::after {
    width: 500px;
  }

  .slide-item {
    padding: 24px 30px 24px 60px;
  }

  .slide-item__avatar {
    max-width: 140px;
    max-height: 140px;
  }
}

@media (max-width: 1170px) {
  .header__logo {
    padding-right: calc(0px + 68 * ((100vw - 320px) / 850));
  }

  .header__list {
    -webkit-column-gap: calc(0px + 45 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(0px + 45 * ((100vw - 320px) / 850));
            column-gap: calc(0px + 45 * ((100vw - 320px) / 850));
  }

  .start__title:not(:last-child) {
    padding-bottom: calc(20px + 12 * ((100vw - 320px) / 850));
  }

  .start__text:not(:last-child) {
    padding-bottom: calc(30px + 24 * ((100vw - 320px) / 850));
  }

  .about__text p {
    padding-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .services__container {
    row-gap: calc(40px + 45 * ((100vw - 320px) / 850));
  }

  .services__body {
    -webkit-column-gap: calc(15px + 20 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(15px + 20 * ((100vw - 320px) / 850));
            column-gap: calc(15px + 20 * ((100vw - 320px) / 850));
  }

  .portfolio__nav {
    -webkit-column-gap: calc(10px + 50 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(10px + 50 * ((100vw - 320px) / 850));
            column-gap: calc(10px + 50 * ((100vw - 320px) / 850));
  }

  .portfolio__tabs-item._active {
    -webkit-column-gap: calc(10px + 20 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(10px + 20 * ((100vw - 320px) / 850));
            column-gap: calc(10px + 20 * ((100vw - 320px) / 850));
  }

  .portfolio__tabs-item._active {
    row-gap: calc(15px + 5 * ((100vw - 320px) / 850));
  }

  .pricing__body {
    -webkit-column-gap: calc(0px + 80 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(0px + 80 * ((100vw - 320px) / 850));
            column-gap: calc(0px + 80 * ((100vw - 320px) / 850));
  }

  .item-pricing__content {
    padding-left: calc(30px + 30 * ((100vw - 320px) / 850));
  }

  .item-pricing__content {
    padding-right: calc(30px + 30 * ((100vw - 320px) / 850));
  }

  .item-pricing__content {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .item-pricing__button {
    margin-top: calc(15px + 40 * ((100vw - 320px) / 850));
  }

  .item-pricing__button {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__container {
    min-height: 80px;
  }

  .start {
    padding: 150px 0px 120px;
  }

  .start::after {
    width: 400px;
  }

  .services__body {
    -ms-grid-columns: minmax(auto, 50%) minmax(auto, 50%);
    grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
  }

  .item-services:not(:last-child) {
    padding: 0px 0px 26px;
  }

  .item-services:not(:first-child) {
    padding: 26px 0px 26px;
  }

  .item-services:first-child {
    border-bottom: 1px solid #dcd1bb;
  }

  .item-services:last-child {
    border-top: 1px solid #dcd1bb;
  }

  .pricing__body {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .reviews__title:not(:last-child) {
    margin: 0px 0px 70px 0px;
  }

  .slide-item::after {
    top: 120px;
  }

  .slide-item__info {
    font-size: 16px;
  }

  .slide-item__job:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 991.98px) and (max-width: 1170px) {
  .pricing__body {
    -webkit-column-gap: calc(0px + 50 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(0px + 50 * ((100vw - 320px) / 850));
            column-gap: calc(0px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 70px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 13px;
    right: 10px;
    width: 35px;
    height: 24px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2.4px;
    background-color: #212121;
  }

  .icon-menu span:first-child {
    top: 0px;
    left: 46.55%;
    width: 18.6px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    left: 0;
    width: 18.6px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    left: 0px;
    width: 100%;
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    overflow: auto;
    padding: 70px 30px 30px 30px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -moz-text-align-last: left;
         text-align-last: left;
    row-gap: 30px;
  }

  .menu__body .menu__list li {
    font-size: 30px;
  }

  .menu__body._active {
    left: 0;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .footer {
    padding: 50px 0px;
  }

  .footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .column-footer__logo:not(:last-child) {
    padding: 0px 0px 20px 0px;
  }

  .column-footer__text {
    display: none;
  }

  .footer-list__nav_title {
    display: none;
  }

  .footer-list__item {
    display: none;
  }

  .footer-list__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 40px 0px;
  }

  .footer-list__social_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .start {
    padding: 120px 0px 100px;
  }

  .start::after {
    display: none;
  }

  .about {
    padding: 58px 0px 37px;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 28px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .about__text p:last-child {
    display: none;
  }

  .portfolio__tabs-item._active {
    -ms-grid-columns: minmax(auto, 50%) minmax(auto, 50%);
    grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
  }

  .pricing__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    row-gap: 60px;
  }

  .item-pricing {
    width: 450px;
    margin: 0 auto;
  }

  .item-pricing__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-pricing__price_subtitle {
    font-size: 16px;
    color: #bbbbbb;
  }

  .item-pricing__button {
    border-radius: 0px 0px 8px 8px;
    border: none;
    color: #fff;
    background-color: #d3a265;
    max-width: none;
    min-width: 100%;
    margin-bottom: 0px;
  }

  .slide-item {
    padding: 25px;
    margin: 0px 30px;
  }

  .slide-item__job {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) and (max-width: 1170px) {
  .pricing__body {
    row-gap: calc(35px + 25 * ((100vw - 320px) / 850));
  }

  .item-pricing__button {
    margin-bottom: calc(0px + 0 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 479.98px) {
  .header__container {
    min-height: 50px;
  }

  .header__article {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .start {
    padding: 70px 0px 50px;
  }

  .start__title {
    font-size: 48px;
  }

  .start__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 100%;
  }

  .services {
    padding: 57px 0px 8px;
  }

  .services__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .services__button {
    display: none;
  }

  .item-services:not(:last-child) {
    padding: 0px 60px 26px;
    border-bottom: 1px solid #dcd1bb;
  }

  .item-services:not(:first-child) {
    padding: 26px 60px 26px;
  }

  .portfolio {
    padding: 47px 0px;
  }

  .portfolio__nav-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
    /* 16/13 */
  }

  .portfolio__nav-btn._active {
    font-weight: 600;
  }

  .portfolio__tabs-item._active {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .portfolio__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #d3a265;
    font-weight: 600;
    max-width: 76px;
    font-size: 14px;
    line-height: 1.21;
    /* 17/14 */
    margin: 50px auto;
  }

  .pricing {
    padding: 60px 0px 40px 0px;
  }

  .item-pricing {
    width: 270px;
  }

  .item-pricing__content {
    padding: 30px 42px 35px;
  }

  .reviews__title:not(:last-child) {
    margin: 0px 0px 55px 0px;
  }

  .slide-item::after {
    top: 108px;
  }

  .slide-item {
    margin: 0px 20px;
  }

  .slide-item__header {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .slide-item__job:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .slide-item__social_image:last-child {
    display: none;
  }

  .question {
    padding: 50px 0px;
  }

  .question__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
  }
}

@media (min-width: 479.98px) and (max-width: 1170px) {
  .header__article {
    -webkit-column-gap: calc(0px + 45 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(0px + 45 * ((100vw - 320px) / 850));
            column-gap: calc(0px + 45 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .button:hover {
    border: 2px solid #ebc393;
    color: #5e5757;
  }

  .header__link:hover {
    color: #706262;
  }

  .header__tel:hover {
    color: #706262;
  }

  .header__langue:hover {
    color: #706262;
  }

  .footer-list__link:hover {
    color: #7a7a7a;
  }

  .footer-list__contacts_link:hover {
    color: #7a7a7a;
  }

  .portfolio__nav-btn:hover {
    color: #504f4f;
  }
}

._webp .start::after{ background: url(../img/start/img-start.webp) 0 0 no-repeat; }